@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;

}
.container {

    margin: auto;
    width: 350px;
    height: 600px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);

}

.container img {
    
    margin: auto;
    display: block;
    margin-top: 20px;
    width: 305px;
    border-radius: 10px;

}

.photo {
position: relative;
z-index: 1;

}

.overlay {
    transition: 1.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .photo {
    opacity: 1;
    background-color: hsl(178, 100%, 50%);
    margin-top: 20px;
    width: 305px;
    border-radius: 10px;
    margin: auto;
    display: block;
 



  }
  
  .container:hover .overlay {
    opacity: 1;


  }

.text{
    margin-left: 20px;
    margin-right: 20px;

}

h1 {
    font-size: 18px;
    color: white;
    padding-top: 15px;
}

.icons {
    display: flex;
    justify-content: space-between;
    color: hsl(215, 51%, 70%);
      
}

.amount {
 color:   hsl(178, 100%, 50%);
 gap: 1rem;
 display: flex;

}

.time {
    
    margin-left: 15px;
    gap: 1rem;
    padding-right: 10px;

}

p {
    color: hsl(215, 51%, 70%)
}


hr {

    border: 1px solid hsl(215, 32%, 27%);
}

.bottom{

    display: inline-flex;

}

.bottom .avatar {

    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.credit {
    padding-top: 15px;
    padding-left: 15px;
}

.name {
    color: white;
}